@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Staatliches');

#Überschrift {
    text-align: center;
    font-family: Staatliches;
    font-size: 40px;
    color: white;
    text-decoration-line: underline;
    padding-bottom: 2px;
}

.test {
    text-align: center;
    font-family: Oswald;
    color:white;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    padding-top: 0px;
}

body {
    background-color: rgb(49, 49, 49);
}