@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Staatliches');

#Überschrift {
    text-align: center;
    font-family: Staatliches;
    font-size: 40px;
    color: white;
    text-decoration-line: underline;
    padding-bottom: 2px;
}

#test {
    text-align: center;
    font-family: Oswald;
    color: white;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    padding-top: 0px;
}

body {
    background-color: rgb(49, 49, 49);
}

/* Liste */


#Liste,
li {
    display: box;
    width: 600px;
    background-color: darkgray;
    font-size: 25px;
    color: white;
    font-family: Oswald;
    font-weight: lighter;
    list-style-type: decimal;
    background-color: darkgray;
}

#Liste li:hover {
    cursor: pointer;
}


.Rechner {
    color: rgb(255, 56, 56);
}

.vorstellen {
    color: rgb(255, 251, 42);
}

.Nerv_system {
    color: rgb(71, 255, 255);
}


.mvorstellen {
    color:#c842f4;
}




/* Bild animation */

.container {
    position: relative;
    width: 50%;
    margin-left: 42%;
    margin-right: 70%;
}

.image {
    width: 30%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgb(63, 63, 63);
    overflow: hidden;
    width: 30%;
    height: 0;
    transition: .5s ease;
}

.container:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}